[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "tda-mapper"
version = "0.1.0" 
description = "A simple and efficient implementation of the Mapper Algorithm from Topological Data Analysis (TDA)"
readme = "README.md"
authors = [{ name = "Luca Simi", email = "lucasimi90@gmail.com" }]
license = { file = "LICENSE" } 
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3"
]
keywords = ["tda", "mapper", "topology"]
dependencies = [
    "matplotlib>=3.3.4",
    "networkx>=2.5",
    "numpy>=1.20.1",
    "plotly>=4.14.3",
    "joblib>=1.2.0"
]
requires-python = ">=3.6"

[project.optional-dependencies]
dev = ["coverage", "pandas", "scikit-learn"]

[project.urls]
Homepage = "https://github.com/lucasimi/tda-mapper-python"
